<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <form action="/" method="get">
      <h2><%= title %></h2>
        <button type="submit" class="back-btn">Back to Login</button>
    </form>

  </body>
</html>
