<%- include('partials/header'); -%>

<ul class="choocs">
  <li class="chooc">
    <img src="/images/jgamers.png" alt="team icon">
    <h3>Streamer Name</h3>
    <h4>Team Name</h4>
    <p>Viewers</p>
  </li>
  <li class="chooc">
    <img src="/images/jgamers.png" alt="team icon">
    <h3>Streamer Name</h3>
    <h4>Team Name</h4>
    <p>Viewers</p>
  </li>
  <li class="chooc">
    <img src="/images/jgamers.png" alt="team icon">
    <h3>Streamer Name</h3>
    <h4>Team Name</h4>
    <p>Viewers</p>
  </li>
  <li class="chooc">
    <img src="/images/jgamers.png" alt="team icon">
    <h3>Streamer Name</h3>
    <h4>Team Name</h4>
    <p>Viewers</p>
  </li>
  <li class="chooc">
    <img src="/images/jgamers.png" alt="team icon">
    <h3>Streamer Name</h3>
    <h4>Team Name</h4>
    <p>Viewers</p>
  </li>
  <li class="chooc">
    <img src="/images/jgamers.png" alt="team icon">
    <h3>Streamer Name</h3>
    <h4>Team Name</h4>
    <p>Viewers</p>
  </li>
</ul>

<%- include('partials/footer'); -%>