<%- include('partials/header'); -%>

<link rel='stylesheet' href='/stylesheets/style.css' />
<header>
  <div class="siteicon">
    <img src="/images/jgamers.png" alt="">
  </div>
  <div class="headings">
    <h2>Chooc TV</h2>
    <h3>By MCC For Gamers</h3>
    <a href="/choocs" class="btn">Choocs</a>
  </div>
</header>


<%- include('partials/footer'); -%>