* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}


header {
  display: flex;
  align-items: center;
}

header img {
  width: 350px;
  margin-right: 40px;
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.btn {
  border-radius: 36px;
  background: #FEE996;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4565a0;
}

.back-btn {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #4565a0;
}


p {
  margin-top: 15px;
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

.gamer {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.gamer img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}


.chat-wrap {
  position: fixed;
  top: 80px;
  right: 0;
  width: 330px;
  height: calc(100% - 80px);
  overflow-y: scroll;
  background-color: #f4f4f4;
  text-align: center;
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.chat-wrap-top {
  position: relative;
  background-color: white;
  box-shadow: 0px -7px 15px #c3c4dd;
  padding: 15px;
  text-align: left;
}

.chat-wrap-top h3 {
  font-size: 15px;
  font-weight: 600;
  color: #494949;
}

.leaveBtn {
  position: absolute;
  right: 10px;
  top: -3px;
  padding: 17px;
  border: none;
  color: #7062D1;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  opacity: .3;
}

.leaveBtn img {
  width: 15px;
}


.leaveBtn:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}


.chat-wrap-main {
  padding: 0 25px;
  padding-bottom: 70px;
}

.chat-con {
  text-align: left;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.chat-con li {
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.chat-con p {
  width: 50%;
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 5px;
  margin: 15px 0;
  color: gray;
  border-radius: 20px;
  opacity: .7;
}

.bottom {
  padding: 10px;
  background-color: #f1f1f1;
  /* 可調整為你需要的顏色 */
  border-top: 1px solid #ddd;
  /* 添加頂部邊框 */
  display: flex;
  align-items: center;
  /* 垂直方向置中 */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
}

.bottom button {
  padding: 5px;
}


.sendBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendBtn img {
  width: 15px;
}

.chat-item {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.item-left .message {
  background: #979ae5;
  color: white;
  font-size: 15px;
  border-radius: 0px 15px 15px 15px;
  margin-top: 20px;
  padding: 15px !important;
  font-weight: 400;
}

.item-right .message {
  background: white;
  color: #413177;
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px 0px 15px 15px;
  padding: 15px !important;
  margin-top: 20px;
  margin-right: 0;
}

.item-left .uname {
  font-size: 12px;
  left: 0px;
  top: 0;
  color: gray;
}

.item-right .uname {
  font-size: 12px;
  right: 0px;
  top: 0;
  color: gray;
}

.chat-item .message {
  display: block;
  padding: 10px;
}